* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #eee;
}

.menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 1em;
}

.menu li {
  width: 200px;
  list-style-type: none;
  cursor: pointer;
}

.menu li.active {
  color: #6f7579;
}

.menu li:hover {
  color: #1f6377;
}

.table, th, td{
  border: 1px solid #000;
  border-collapse: collapse;
  margin-top: 1em;
  padding: 5px;
  width: 80%;
  text-align: center;
}
.btn{
  margin-left: 0.5em;
  padding: 5px;
}
form input, form select, .options {
  padding: 5px;
}
.button-group, .title, .debit-account, .credit-account{
  margin: 0.5em 0;
}
.calculation-output{
  margin-top: 0.5em;
  border: 3px solid green;
}
.input-group input + lable{
  margin-left: 1em;
}
.debit-account input, .credit-account input {
  width: 250px;
}
.message{
  display: inline-block;
  padding: 5px;
  margin: 0.5em 0;
  border: 3px solid red;
}